*{
    margin: 0;
    padding: 0;
}
.top-header{
    background: #FFFFFF;
    
}
.top-header .content{
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.content{
    margin-bottom: -34px;
}
.content ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px;
    font-size: 24px;
    
}
.icon{
    display: flex;
    justify-content: space-between;
}
.img{
    margin-left: 21px;
    margin-bottom: 16px;
   
    
}
#img{
    border-radius: 100%;
    
}


input{
    margin-right: 59px;
    margin-top: 50px;
    border: 1px solid white;
    padding: 11px;
    margin-bottom: -38px;
    padding-right: 121px;
    background:#FFFFFF;
    display: flex;
    position: relative;
    display: flex;
    position: relative;
    border: 1px solid #00000069;
}
.icon-s{
    position: absolute;
    right: 67px;
    font-size: 35px
}
.bottom-header{
    display: flex;
    background: #0E9CFF;
    justify-content: center;
}
nav ul{
    padding: 10px;
    justify-content: center;
   
}
  nav ul li {
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    padding: 0px 44px;
}
nav ul li:hover{
    background: #F79E1B;
    transform: translateY(-5o);
}
.content{
    display: flex;
    margin: 10px;
    background: #FFFFFF;
}
.header-content{
   
    flex: 0.7;
    background: #FFFFFF;
    margin: 2px;
    
}
.head{
    display: flex;
    justify-content: space-between;
}
.head ul li:hover{
    background: #F79E1B;
}
.trade{
    
    flex: 0.3;
    background: #0E9CFF;
    margin: 2px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.trade h1{
    color: #FFFFFF;
    margin-top: 29px;
    font-size: 32px;
}
.chart{
    margin-left: 600px
}
.chart ul li{
    padding: 15px;
}
#image{
    width: 100%;
}
.trading-activity{
    display: flex;
    margin-left: 33px;
    position: relative;
    margin-top: 10px;
    background: #D9D9D9;
    padding-left: 43px;
}
.first{
    margin-right: 180px;
    margin-bottom: 10px;
    
}
.first2{
   justify-content: space-between;
   position: absolute;
   right: 24px;
   margin-top: 51px;
}
.box{
    display: inline-block;
}
.box1{
 width: 400px;
 height: 15px;
 background: red;
 border-radius: 30px;
}
.box1 h2{
    margin: auto;
    padding: 14px 47px;
    text-align: right
}
.box2 h2{
    margin: auto;
    padding: 14px 47px;
}
.box2{
    width: 270px;
    height: 15px;
    border-radius: 30px;
    background-color: green;
    margin-top: -15px;
}
.sell{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.first span{
    margin: 10px;
}
 .trade .box{
    display: inline-block;
}
.trade .box .box1{
 width: 400px;
 height: 53px;
 background: #FFFFFF;
 border-radius: 30px;
}
.trade .box .box2{
    width: 270px;
    height: 53px;
    border-radius: 30px;
    background-color:#FFFFFF;
    margin-top: -54px;
    border: 1px solid #000000;
}
.trade .box .box3{
    width: 59px;
    height: 53px;
    border-radius: 30px;
    background-color:#000000;
    margin-top: -54px;
}
.value{
    margin-top: 44px;
    margin-left: 71px;
}
.value p{
    margin: 29px 0px;
    text-align: left;
    font-size: 24px;
    color: #FFFFFF;
}
.value input{
    margin: 10PX 0PX;
    padding: 8px 10px;
    font-size: 32px;
    margin-right: 90px;
}
.list-item ul li{
    margin: 0px 0px;
    margin-top: 19px;
    margin-bottom: 55px;
    border: 1px solid #000000;
    border-radius: 59px;
    padding: 0px 5px;
}
.btn{
    height: 80px;
    width: 316px;
    background-color: #000000;
    border-radius: 30px;
    font-size: 32px;
    text-align: center;
    align-items: center;

}
.btn:hover{
    background: hsl(324, 80%, 80%);
    transform: translateY(-5px);
}
.btn h1{
    margin: 0px;
}
.row{
    display: flex;
    margin: 0px 31px;
}
.one{
    flex: 0.5;
    border: 1px solid #CCCCCC;
    margin: 16px 20px;
    display: flex;
}
.icon3{
    height: 63px;
    width: 83px;
    margin-left: 120px;
    display: flex;
}
.icon1{
    height: 63px;
    width: 83px;
    margin-left: 20pxpx;
    display: flex;
}
.value2{
    margin: 13px 24px
}
.value2 h2{
    color: rgba(0, 0, 0, 0.49);
}
.value2 h1{
    margin: 5px;
}
.value2 i{
    color: rgb(29, 244, 33);
}
.icon4{
    height: 63px;
    width: 83px;
    margin-left: 32px;
    display: flex
}
.icon4  img{
    margin: 10px;
}
.value2 span i{
    color: red;
}
/*section3*/
.top{
    display: flex;
    margin: 0px 100px;
    margin-left: 50px;
}
.top-gainer{
    flex: 0.5;
    background: #FFFFFF;
    margin: 0px 40px;
    border: 1px solid   #CCCCCC;
}
.head-gainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 10px;
    margin-left: 10px
}
.head-gainer h2{
    justify-content: space-between;
}
.head-gainer span h2{
    margin-right: 40px;
}
.top-looser{
    flex: 0.5;
    background-color:#FFFFFF;
    margin: 0px 40px;
    border: 1px solid   #CCCCCC;
}
.main-gainer{
    display: flex;
    justify-content: space-between;
}
.main-gainer h1{
    margin-right: 30px;
    margin-top: 30px
}
.main-gainer h2{
    margin-top: 30px
}
.main-img img{
    height: 80px;
    width: 81px;
    margin-left: 10px;
}